<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap/app.php" color="true" >
    <testsuites>
        <testsuite name="money">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="Architecture" value="x86"/>
        <env name="PHP Extension Build" value="vc14"/>
    </php>
</phpunit>